.item {
  text-decoration: none;
  font-weight: normal;
  border: 2px solid green;
  border-radius: 5px;
  background-color: white;
  color: green;
  padding: 5px 7px;
  font-size: 14px;
  width: 120px;
  height: 16px;
  margin: 2px;
  margin-left: 10pt;
  display: inline-block;
  text-align: center;
}

.item:hover {
  background-color: gold;
}

.group {
  font-weight: bold;
  color: red;
}

.main, .sub {
  list-style-type: none;
  padding: 3px;
  margin: 5px;
}

H1.line {
  border-bottom: solid 2pt;
}

H2 {
  font-size: 12pt;
  margin-top: 8pt;
  margin-bottom: 4pt;
  margin-left: 4pt;
}

div.foot, A {
  font-size: 10pt;
  font-style: italic; 
  border-top: solid 2pt;
  color: dimgray;
}

body {
  font-family: "Arial", Times, sans-serif;
  background-color: beige;
  color: dimgray;
}
